body {
  background-color: #FEFFFE;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: center;
  color: #EAB244;
  font-family: 'Tektur', cursive;
  font-size: 4em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.banner {
  height: fit-content;
  background-color: #5E565A;
}

.contentContainer {
  display: grid;
  place-items: center;
}

.dataContainer {
  height: 9em;
  width: 40em;
  background-color: #EAB244;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 1em 0 1em;
  margin-bottom: 1.5em;
}

.latencyContainer {
  height: 8em;
  width: 40em;
  background-color: #EAB244;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 1em 0 1em;
  margin-bottom: 1.5em;
}

.dataTitle {
  text-align: center;
}

.dataUL {
  border-style: groove;
  border-color: #5E565A;
}

.data {
  text-align: center;
  font-size: 45px;
  margin-top: 0.25em;
}

.latency {
  text-align: center;
  font-size: 35px;
  margin-top: 0.25em;
}